:root {
    --main-text: #000000;
    --toggler-icon: url('../images/dark-icon.svg');
    --header-top-bg-color: #F1F0EE;
    --header-bg-color: #F1F0EE;
    --header-bg-img: url('../images/hero-bgi.png');
    --mode-btn-bg:#F5F5F5;
  --courses-bg: #f9f8f7;
  --courses-desc: #607987;
  --courses-item-border: 1px solid #607987;
  --hero-card-text: #607987;
}

.dark {
  --courses-bg: #09111b;
  --courses-desc: #bbe7ff;
  --courses-item-border: 1px solid #bbe7ff;
  --hero-card-text: #ffffff;
  --main-text: #FFFFFF;
  --toggler-icon: url('../images/dark-icon.svg');
  --header-top-bg-color: ##0F1826;
  --header-bg-color: #09111B;
  --header-bg-img: url('../images/hero-bgi-dark.png');
  --mode-btn-bg: #272727;
}
