.hero {
  padding: 48px 0;
  background-color: var(--bg-hero);
}

.hero__title {
  margin: 0 0 48px;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.64px;
  color: var(--hero-title);
  margin-bottom: 48px;
}

.hero__cards {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  grid-template-rows: repeat(2, 1fr);
}

.hero__card {
  width: 100%;
  max-width: 536.63px;
  display: flex;

  &:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 54px;

    &::before {
      display: block;
      width: 48px;
      height: 43px;
      background-image: var(--hero-card-icon1);
      background-repeat: no-repeat;
      background-position: center;
      content: '';
    }
  }

  &:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;

    &::before {
      display: block;
      width: 48px;
      height: 46px;
      background-image: var(--hero-card-icon2);
      background-repeat: no-repeat;
      background-position: center;
      content: '';
    }
  }

  &:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;

    &::before {
      display: block;
      width: 48px;
      height: 44px;
      background-image: var(--hero-card-icon3);
      background-repeat: no-repeat;
      background-position: center;
      content: '';
    }
  }

  &:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;

    &::before {
      display: block;
      width: 48px;
      height: 46px;
      background-image: var(--hero-card-icon4);
      background-repeat: no-repeat;
      content: '';
      background-position: center;
    }
  }
}

.hero__card__icon {
  object-fit: contain;
  height: 48px;
}

.hero__card__content {
  max-width: 433px;
  width: 100%;
  margin-left: 40px;
}

.hero__card__title {
  margin: 0 0 14px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.4px;
  color: var(--hero-title);
}

.hero__card__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.28px;
  color: var(--hero-card-text);
}

.hero__more__btn {
  background-color: transparent;
  color: #0eb182;
  border: none;
  display: flex;
  cursor: pointer;

  &::after {
    content: '';
    background-image: url('../../images/more-icon.svg');
    width: 24px;
    height: 24px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 11px;
    background-color: var(--hero-btn);
    border-radius: 50%;
  }
}

@media screen and (max-width: 1130px) {
  .hero__card {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (max-width: 990px) {
  .hero__title {
    text-align: center;
  }

  .hero__cards {
    grid-template-columns: repeat(1, 1fr);

    grid-template-rows: 150px 150px 1fr 160px;
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
  }

  .hero__card {
    & + & {
      margin-top: 46px;
    }

    &:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
      margin: 0;
    }

    &:nth-child(2) {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    &:nth-child(3) {
      grid-column: 1/2;
      grid-row: 3/4;
    }

    &:nth-child(4) {
      grid-column: 1/2;
      grid-row: 4/5;
    }
  }

  .hero__more__btn {
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 576px) {
  .hero__title {
    text-align: left;
    font-size: 28px;
    line-height: 40px;
  }

  .hero__card__title {
    font-size: 20px;
    line-height: 30px;
  }

  .hero__card__text {
    font-size: 14px;
    line-height: 20px;
  }

  .hero__more__btn {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .hero__cards {
    grid-template-columns: repeat(1, 1fr);

    grid-template-rows: 150px 150px 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  .hero__cards {
    grid-template-columns: repeat(1, 1fr);

    grid-template-rows: 160px 150px 1fr 1fr;
  }
}

@media screen and (max-width: 417px) {
  .hero__cards {
    grid-template-columns: repeat(1, 1fr);

    grid-template-rows: 160px 170px 1fr 1fr;
  }
}

@media screen and (max-width: 410px) {
  .hero__title {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 400px) {
  .hero__cards {
    grid-template-columns: repeat(1, 1fr);

    grid-template-rows: repeat(4, 1fr);
  }

  .hero__card {
    &:nth-child(2) {
      margin-top: 25px;
    }

    &:nth-child(3) {
      margin-top: 15px;
    }

    &:nth-child(4) {
      margin-top: 20px;
    }
  }

  .hero__card__content {
    margin-left: 25px;

    h3 {
      font-size: 18px;
      line-height: 22px;
    }

    p {
      font-size: 13px;
      line-height: 17px;
    }
  }
}

@media screen and (max-width: 377px) {
  .hero__card {
    & + & {
      margin-top: 38px;
    }

    &:nth-child(3) {
      margin-top: 30px;
    }
  }
}
